# Orígenes permitidos para el backend
CORS_ORIGINS=http://localhost:3000

# En producción déjalo como la raíz del dominio o vacío si usas rutas relativas
NEXT_PUBLIC_API_URL=http://localhost:3000/

SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=rburgoscris@gmail.com
SMTP_PASSWORD=abcdefghijklmnop
SMTP_FROM=INVERSIONES NATHAN <rburgoscris@gmail.com>

TURSO_AUTH_TOKEN=eyJhbGciOiJFZERTQSIsInR5cCI6IkpXVCJ9.eyJhIjoicnciLCJpYXQiOjE3OTE0OTc4MTgsImlkIjoiMDFhMTFkOTEtZWMwMS03NTI2LTkwMzAtZjI0YmJmYmVmM2Q0Iiwia2lkIjoiMHI3d2VqQThSakxoNUdwcW5mN0VHNlZSUG95SWE0dFBiZ2U0bldhWUZmcyIsInJpZCI6IjRkMjFiMWFiLTA1MzEtNDlkYS04NjY2LTQ3ZmEwNjYwODk4NyJ9.H7oCcCJtCYWQudboOWCRkTBEdyoBchQHDWAs1-PuNEBrojt2TfDSyJbMtf6OCyYIu3Ixz2KBp3QOhVhIatqlAA
TURSO_DATABASE_URL=libsql://inventario-victoormtv.aws-sa-east-1.turso.io
APISPERU_TOKEN=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJlbWFpbCI6InZpY3RvcnNhbmNoZXptb250YWx2YW5AZ21haWwuY29tIiwianRpIjoiNDc5MjI0NDcyNzcxM2UyYiJ9.uazvblPVA7hVoO9ZFytexNJgzfGC8LWrGmmaTPFgQXc